.compare {
  display: flex;
  flex-direction: row;
}

.pokemon-moves {
  list-style-type: none;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-name {
  font-weight: bold;
}
